
*{
    padding: 0;
margin: 0;

}
body{
    font-family: montserrat;
}
nav{
    background-color: #0082e6;
    height: 80PX;
    width: 100%;

}
.humo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float:right ;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;

}
a.bibo,a:hover{
    background: #1b9bff;
    transition: .5s;
}
ul{
    position: fixed;
    width: 100%;
    height: 85px;
    background: #2c3e50;
}
.youtube-home {

    background-color: brown;
    color: azure;
    height: 50px;
    width: 100px;
    cursor: pointer;
}
.TRACK {
background: rgb(93, 93, 235);
height: 50px;
border-radius: 15%;
border-color: aqua;
cursor: pointer;
 
}
.youtube-home:hover {
background-color: rgb(147, 141, 240);

}
.TRACK:hover {
background-color: bisque;

}
.TRACK:active{
background-color: aliceblue;
}
.youtube-home:active{
    background-color: rgb(61, 125, 182);
}

